.App {
  text-align: center;
}

nav{
  margin-top: 2%;
}

nav a {
  background-color: rgb(194, 194, 194);
  border: solid 1px black;
  border-radius: 20%;
  padding: 1%;
  text-decoration: none;
  color: black;
}

form {
  
  display: flex;
  flex-direction: column;
  width: 20%;
  margin:auto;
  margin-top: 20%;
}

button{
  margin: auto;
  width: 20%;
  margin-top: 5%;
}